{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "hardhat.config.ts",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.sol",
            "options": {
                "printWidth": 120,
                "singleQuote": false,
                "bracketSpacing": false
            }
        },
        {
            "files": ["*.ts", "*.js"],
            "options": {
                "printWidth": 120,
                "semi": false
            }
        }
    ]
}
